<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Intern Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://ui.oreillyauto.com/ui/css/oreillybs-3.3.5r2.min.css">
    <link rel="stylesheet" href="https://ui.oreillyauto.com/ui/css/oreillybs-dojo-r13.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">

    <script src="/socket.io/socket.io.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
      <div class="container halftopmargin">
        <h1 class="underline">Interny</h1>
      </div>
        
      <div class="container login fixed">
        <div class="row ">
          <div class="col-xs-6 col-xs-offset-3 box-blue">
            <span class="col-xs-6 col-xs-offset-3">Login <b>or</b> Register</span>
            <a href="/login" class="btn btn-blue col-xs-6 col-xs-offset-3">Login</a>
            <a href="/register" class="btn btn-blue col-xs-6 col-xs-offset-3">Register</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/dist/index.js"></script>
  </body>
</html>