<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://ui.oreillyauto.com/ui/css/oreillybs-3.3.5r2.min.css">
  <link rel="stylesheet" href="https://ui.oreillyauto.com/ui/css/oreillybs-dojo-r13.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Nunito" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/main.css">

  <title>JS LABS- Interns App </title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <div id="status" class="status-block"></div>
  <div id="connected" class="status-notification fade-in-out hide"><h1>An Intern just connected</h1></div>
  <div id="disconnected" class="status-notification fade-in-out hide"><h1>An Intern just disconnected</h1></div>

  <div class="container halftopmargin">
   <a class="pull-right" href="/logout"><b>Logout</b></a>
      <h1 class="underline">Interny</h1>
    <div class="row well">

    <% if (user.local.isAdmin) { %>
      <h2 class="col-xs-12">Hello, <%= user.local.first_name + ' ' + user.local.last_name %> (Admin)</h2>
    <% }  else { %>
        <h2 class="col-xs-12">Hello, <%= user.local.first_name + ' ' + user.local.last_name %></h2>
    <% } %>

        <form class="col-xs-12" id="userForm" method="post" action="#">
        <div id="error" class="col-xs-12 alert alert-danger halftopmargin hide"></div>
          <table class="col-xs-12 col-md-5">
            <tr>
              <td class="col-xs-1">
                <input id="addBtn" type="submit" class="btn btn-primary pull-left halftopmargin" value="Start New Program">
              </td>
            </tr>
          </table>
        </form>
      </div>
      
      <div class="row">
        <h2 class="col-xs-12">Interns</h2>
        <table id="interns" class="col-xs-12 table table-striped table-condensed">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Programs Completed</th>
                  <th>&nbsp;</th>
              </tr>
          </thead>
        </table>
  
      <!-- Dialog -->
      <div id="dialog" class="container hide fade-in">
        <div class="row">
          <div class="dialog form-group col-xs-8 col-xs-offset-2">
            <form id="dialogForm" class="form form-group">
              <h1>Add Completed Program</h1>
              <label class="form-label halftopmargin" for="selectWithDropdown">Program</label>
              <select id="programSelect" class="form-control" name="programSelectField">
                <option value="null" selected=selected disabled>Select Program</option>
                <option value="Objects and Promises">Objects and Promises</option>
                <option value="Modules and AMD">Modules and AMD</option>
                <option value="Dojo, Dom, Events">Dojo, Dom, Events</option>
                <option value="Ajax and Widgets">Ajax and Widgets</option>
                <option value="Final Test">Final Test</option>
              </select>
              <label class="form-label halftopmargin" for="grade">Grade</label>
              <input type="number" id="grade" class="form-control" max="100" required/>
              <input id="dialogSubmit" type="submit" class="btn btn-primary halftopmargin pull-right" value="Add Program">
            </form>
          </div>
         <div id="dialogError" class="col-xs-8 col-xs-offset-2 alert alert-danger halftopmargin hide"></div>
      </div>
     </div>
    </div>

     <!-- Edit Dialog -->
     <div id="dialogEdit" class="container hide fade-in">
      <div class="row">
        <div class="dialog form-group col-xs-8 col-xs-offset-2">
          <form id="dialogEditForm" class="form form-group">
            <h1 class="halfleftmargin halfrightmargin">Edit Program</h1>
            <div id="programInternName"></div>
            <div id="programTitle"></div>
            <div id="programCurrentGrade"></div>
            <label class="form-label halftopmargin" for="selectWithDropdown"></label>
            <div id="programEdit"></div>
            <label class="form-label halftopmargin" for="grade"><h2>New Grade</h2></label></label></label>
            <input type="number" id="gradeEditInput" class="form-control" max="100"
                   data-dojo-type="dijit/form/ValidationTextBox" 
                   data-dojo-props="regExp:'[\\w]+', required: true" required/>
            <input id="dialogEditSubmit" type="submit" class="btn btn-primary halftopmargin pull-right" value="Save" 
                   data-dojo-type="oreilly/types/form/Button" 
                   data-dojo-props="spinOnClick: false">
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/public/dist/index.js"></script>
</body>
</html>